@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccesor
@using ITStepShop.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITStepShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITStepShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
             <img src="~/images/itstep.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                ITStep Магазин
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                        @if (HttpContextAccesor.HttpContext.Session.Get<List<ShopingCart>>(WC.SessionCart) != null)
                        {
                            <a asp-action="Index" asp-controller="Cart" class="nav-link">
                               @{
                                   var count = HttpContextAccesor.HttpContext.Session.Get<List<ShopingCart>>(WC.SessionCart).Count;
                                }
                                <i class="fas fa-cart-shopping"></i> &nbsp; @count
                               </a>
                        }
                        else
                        {
                            <a href="#" class="nav-link"><i class="fas fa-cart-shopping"></i> &nbsp; (0)</a>
                        }
                    </ul>
            </div>
        </div>
        <div class="navbar-collapse collapse w-50 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Магазин</b></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Index">Категорії</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">Товари</a>
                            <a class="dropdown-item" asp-area="" asp-action="Index" asp-controller="Cart">Перейти в корзину</a>
                            <a class="dropdown-item" asp-area="" asp-action="Index" asp-controller="OrdersManagement">Перейти до замовлень</a>
                          <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main" class="pb-3">
            <partial name="_PreLoader" />
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container-fluid">
        &copy; 2024 - ITStepShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/delete.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
