@model ITStepShop.Models.Order

<h2>Деталі замовлення</h2>

<div>
    <h4>Ім'я клієнта: @Model.CustomerName</h4>
    <h4>Адреса: @Model.Address</h4>
    <h4>Електронна пошта: @Model.Email</h4>
    <h4>Телефон: @Model.Phone</h4>
</div>
